section {
  float: left;
  margin: 30px;
  height: 540px;
  
}
#photo-template {
  display: none;
}
img {
  height: 400px;
  width: 400px;
}
section {
  width: 400px;
  overflow: hidden;
}
div{
  display: flex;
justify-content: center;
align-items: center;

}

header{
  flex-direction: column;
  align-items: center;
  flex-direction: column;

}
 #left, #right{
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #ccc;
display: inline-block;
margin: 0;
border: 20px solid white;
font-size: 40px;
text-decoration: none;
font-weight: bolder;
font-family: Helvetica, sans-serif;


 }

select{
  height: 25px ;
}

